body {
  font-family: Roboto, sans-serif;
}
.grid-container {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: 59.5% 39.5%;
  height: 92vh;
  gap: 1%;
}
.grid-item-left,
.grid-item-right {
  background-color: #f1f8f8f8;
  grid-column: auto;
  padding: 0rem 1rem;
  min-height: 92vh;
}
.grid-item-left {
  background-image: url("../images/business-6521193__340.jpg");
  background-position: center;
  min-height: 96vh;
  height: auto;
  background-size: cover;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
}
.grid-item-left h1 {
  font-size: 5rem;
}
.grid-item-left h2 {
  font-size: 2rem;
  text-align: center;
}
.grid-item-right {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: minmax(2, 1fr);
  grid: 1rem;
  min-height: 92vh;
}
.item-bottom {
  display: grid;
  justify-content: center;
  align-items: center;
}
.saving-calculation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.saving-amount {
  background-color: #0750aa;
  padding: 0.4rem 2rem;
  font-weight: 900;
  color: #fff;
  border-radius: 0.3rem;
}

.btn-calculate {
  background-color: #0750aa;
  padding: 0.3rem 1rem;
  cursor: pointer;
  border: none;
  font-weight: 800;
  color: #fff;
  border-radius: 0.3rem;
  margin-top: 0.3rem;
}

.saving-button {
  background-color: #0750aa;
  padding: 0.2rem 1rem;
  cursor: pointer;
  border: none;
  font-weight: 800;
  color: #fff;
  border-radius: 0.3rem;
}
.bottom-text-area {
  display: grid;
  grid-template-columns: minmax(2, 1fr);
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  background-color: #ddd;
  padding: 0.3rem;
  width: 95%;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
}
